<%= div_for comment do %>
  
    <div class="comment_indentor"></div><%= h(comment.body) %><br />
    <span class="heading_subtelize"><%= time_ago_in_words(comment.created_at) %> ago by <strong><%= comment.user.username %></strong></span>
<% end %>