/*division classes and elements*/
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
                height: 100%;
		background:#fff;
		min-width:600px;		/* Minimum width of layout - remove line if not required */
		font-family: arial, helvetica, sans-serif;
	}


	/* Header styles */
	.colmask#header {
		clear:both;
		float:left;
		width:100%;
                vertical-align: middle;
                background-color:#262626;
                height:50px;
        }
	#header p {
		padding:.4em 0 0 0;
                color: #FFF;
		margin:0;
                vertical-align: middle;
	}
	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
                height: 100%
	}
    .tab_stripe {
        width:100%;

        padding:5px 2px 0px 0px;
        clear:both;
        background-color:#D8D8D8;
    }
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;			/* width of page */
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 5px 0;	/* no left and right padding on columns, we just make them narrower instead
						only padding top and bottom is included here, make it whatever value you need */
		overflow:hidden;

	}
	/* 3 Column settings */
	.threecol {
				/* right column background colour */
	}
	.threecol .colmid {
		right:30%;			/* width of the right column */
				/* center column background colour */
	}
	.threecol .colleft {
		right:40%;			/* width of the middle column */
			/* left column background colour */
	}
	.threecol .col1 {
		width:38%;			/* width of center column content (column width minus padding on either side) */
		left:101%;			/* 100% plus left padding of center column */
	}
	.threecol .col2 {
		width:28%;			/* Width of left column content (column width minus padding on either side) */
		left:33%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	}
	.threecol .col3 {
		width:28%;			/* Width of right column content (column width minus padding on either side) */
		left:75%;			/* Please make note of the brackets here:
						(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
	}
	#footer p {
		padding:10px;
		margin:0;
	}
/*other basic elements, with associated classes*/
p {
  font-size: 11px;
}
p.footer {
    margin-left: 30%;
}

h1, h2, h3 {
  font-family: arial, helvetica, sans-serif;
}
h3 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: normal;
  font-style: italic;
  color: #F40026;
}
h2 {
  
  color: #585858;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
/*  font-style: italic;*/
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  color: #F40026;
  font-style: italic;
}
.heading_subtelize {
    color: #585858;
}
h1 a {
    color: #FFF;
}
div {
  padding-bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
}
div.field, div.actions {
  margin-bottom: 5px;
}

div#paramsinspect {
  color: #013ADF;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #2CA200  ; text-decoration: none; }
a:visited {  }
a:hover { color: #fff; background-color:#F83251; text-decoration: none; }

.bottom_stripe {
    margin-top: 15px;
}

.leftside h2 {
    color: #F83251;

/*specific classes*/
}
.wakinga_logo {
    float: left;
    margin-top: 5px;
}

.user_avatar {
    margin-top: 10px;
}
.text_deemphasizer {
    color: #262626;
}

.text_emphasizer {
    color: #F40026;
}

.title_operator {
    font-size: 12px;
    margin-left: 5px;
}

.interest_tab {
    vertical-align: middle;
    float:left;
    height:inherit;
}
.current_tab {
    background-color: #FFF;
    border-right: #F83251 2px solid;
    
}

.previous_tab {
    background-color: #D8D8D8;
    border-right: #262626 2px solid;
}

.interest_tab_title {
    padding:5px;
    font-size:12px;
}

/*

.user_details {
    float: right;
}*/

/*interest styling*/
.adopt_interest {
    margin-top: 5px;
    margin-right: 5px;
}
/*post styling*/
.post {
        margin-top: 0px;
        margin-bottom: 0px;
        color:black;
        font-size: 11px;
        padding: 5px;
        border-bottom: #D8D8D8 2px solid;
/*    background-image: url(/images/bg_grey_fade_vert.png);
    background-position: top;
    background-repeat: repeat-x;*/
}

.live_message {
    border-left: #F83251 2px solid;
}

.actionable {
    border-right: #282828 2px solid;
}

.complete {
    border-right: #D8D8D8 2px solid;
}

.post_operators {
    float: right;
    display: block;
}

.post_foot {
    color: #BDBDBD;
    margin-bottom: 0px;
    margin-top: 10px;
}
.posts_new_dynamic {
    background-color: #BDBDBD;
}
.post_activator {
    background-color: #BDBDBD;
    color: #262626;
    font-size: 15px;
    padding: 4px 2px;
    float: left;
    margin-right: 8px;
}

.post img {
	margin-right: 4px;
}

.activated_post_container {
/*    background-color: #7FED56;*/
    

}
.activated_post {
    padding: 6px;
    border-left: #2CA200 solid 2px;
}
.activated_post p {
    font-size: 12px;
}
.private_activated_post {
/*    background-image: url(/images/bg_red_fade_vert.png);
    background-position: top;
    background-repeat: repeat-x;*/
}

.private_true {
    margin-left: 4px
}

.comments_placeholder {
    border-top: #F40026 solid 1px;
    color: #F40026;
}
.comments_frame {
/*    padding: 10px;*/
    background-image: url(/images/bg_grey_fade_vert.png);
    background-position: top;
    background-repeat: repeat-x;    
}
.comments_content_container {
    
}

.comment {
  font-size: 11px;
  padding: 5px;
/*  background-color: #b7ffb4;*/
/*  border-bottom: black 1px dotted;*/
}

.comment_body {
  display: inline;
}

.comments_form_container {
    padding: 5px;
/*    background-color: #b7ffb4;*/
}
.comment_indentor {
    background-color:#BDBDBD;
    width: 4px;
    height: 10px;
    float: left;
    margin-right: 10px;
}
.comment_indentor_new {
    background-color: #F40026;
    width: 7px;
    height: 10px;
    float: left;
    margin-right: 10px;
}

/*bead dot styling within post*/
.beads_slot {

}

.bead_point {
  /*float: left;*/
  height: 30px;
  width: 120px;
  border: 1px solid #FFF;
  
  /*background-color: #D8D8D8;*/
}

.bead_live {
  border-left: #F83251 2px solid;
}


.bead_spot {
    color: #011d62;
/*    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;*/
    line-height: 4px;
}

.preview_slot {
    padding: 2px 3px 4px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
}

.main_operators {
    float: right;
    font-size: 15px;
}
.user_trusts {
	margin-bottom: 15px;
}

.dynamic#buffer {
    background-color: #011d62;
    padding: 5px;
    text-align: center;
}
.dynamic#buffer a {
    background-color: #011d62;
    color: white;
}
#dynamic_beads {
    margin-bottom: 20px;
    background-color: #b0f097;
    padding: 3px;
}
.dynamic#recalls {
    background-color: #F2F2F2;
}

#notice {
  color: #F40026;
}
#flash_notice {
    color: #F40026;
}

.field_with_errors {
  padding: 2px;
  background-color: #F83251;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #F83251;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*form styling*/

input, select, textarea {
  border: 2px solid #BDBDBD;
  background-color: #FFF;
}

input#user_submit {
  font-size: 120%;
}


/*authentications styles*/


.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #d7d7d7;
/*  border: solid 1px #999;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: -12px;
  color: #333;
  padding: 1px 2px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #F83251;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.authentication img {
  float: left;
  margin-right: 12px;
  border: none;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
  border: none;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;

}
.no_top {
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
}

.clean_from_top {
    clear: both;
    padding-top: 5px;
	margin-bottom: 10px;
}
