/* layout spec definitions */
#middleactive {
margin-top: 10px;
min-height: 300px;
-moz-box-shadow: 0px 3px 5px #CCC;
-webkit-box-shadow: 0px 3px 5px #CCC;
box-shadow: 0px 3px 5px #CCC;  
}

/*division classes and elements*/
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
                height: 100%;
		background:#fff;
		min-width:600px;		/* Minimum width of layout - remove line if not required */
		font-family: 'PT Sans', arial, sans-serif;
	}


	/* Header styles */
	.colmask#header {
		clear:both;
		float:left;
		width:100%;
                vertical-align: middle;
                background-color:#282828;
                height:66px;
                /* box-shadow: 0px 7px 7px 7px #282828; */
                z-index: 100;
        }
	#header p {
		padding:.4em 0 0 0;
                color: #FFF;
		margin:0;
                vertical-align: middle;
	}
	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
                height: 100%
	}
    .tab_stripe {
        width:100%;
        border-bottom: solid 1px #DDD;
        height: 22px;
        clear:both;
        background-color: #282828;
        z-index: 9;
-moz-box-shadow: 3px 3px 5px #CCC;
-webkit-box-shadow: 3px 3px 5px #CCC;
box-shadow: 3px 3px 5px #CCC;
    }
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;			/* width of page */
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 5px 0;	/* no left and right padding on columns, we just make them narrower instead
						only padding top and bottom is included here, make it whatever value you need */
		overflow:hidden;

	}
	/* 3 Column settings */
	.threecol {
				/* right column background colour */
	}
	.threecol .colmid {
		right:17%;			/* width of the right column */
				/* center column background colour */
	}
	.threecol .colleft {
		right:55%;			/* width of the middle column */
			/* left column background colour */
	}
	.threecol .col1 {
		width:53%;			/* width of center column content (column width minus padding on either side) */
		left:101%;

		/* 100% plus left padding of center column */
	}
	.threecol .col2 {
		width:28%;			/* Width of left column content (column width minus padding on either side) */
		left:20%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
/*                padding: 10px*/
	}
	.threecol .col3 {
		width:15%;			/* Width of right column content (column width minus padding on either side) */
		left:73%;			/* Please make note of the brackets here:
						(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
	}
	#footer p {
		padding:10px;
		margin:0;
	}
/*other basic elements, with associated classes*/
p {
  font-size: 12px;
}

p.footer {
    margin-left: 30%;
}

h1, h2, h3 {
  font-family: 'PT Sans', arial, sans-serif;
}
h3 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #F40026;
}
h2 {
  
  color: #585858;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  color: #F40026;
  font-style: italic;
}
.heading_subtelize {
    color: #585858;
}
.defloater {
    clear: both;
}
.leftfloater{
    float:left;
}

h1 a {
    color: #FFF;
}
div {
  padding-bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
}
div.field, div.actions {
  margin-bottom: 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #2CA200  ; text-decoration: none; }
a:visited {  }
a:hover { color: #fff; background-color:#F83251; text-decoration: none; }

.bottom_stripe {
    margin-top: 15px;
}

.leftside h2 {
    color: #F83251;

/*specific classes*/
}
.wakinga_logo {
    float: left;
    margin: 0px;
    margin-top: 12px;
}

.user_avatar {
    margin-top: 10px;
}
.text_deemphasizer {
    color: #282828;
}

.text_light {
    color: #D8D8D8;
}

.help_text {
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EEE;
  margin-right: 1px;
  margin-left: 1px;
  padding: 5px
}
  

.text_emphasizer {
    color: #F40026;
}


/*

.user_details {
    float: right;
}*/

/*interest styling*/
.adopt_interest {
  margin-right: 5px;
  position:relative;
  top:4px;
}

.enter_interest_icon {
    position: relative;
    top:4px;
}

.new_message_count {
    background-color: #F83251;
    color: #ffffff;
    padding: 0px 2px;
    margin-right: 3px;

}

.title_operator {
    font-size: 12px;
    margin-left: 5px;
}

.operator_block {
  margin-top: 15px;
}

#action_memories, #live_memories, .hyper_switch {
  padding: 4px 10px 4px;
  margin-left: 10px;  
  margin-bottom: 3px;
  font-size: 16px;
  color: #282828;
  cursor: pointer;
}

#action_memories {
  border-left: 3px solid #282828;
}

#live_memories {
  border-left: 3px solid #F40026;
}

.hyper_switch {
  padding-left: 1px;
}

.interest_browser_switch .hyper_shape {
  

}
.trust_switch {
  color: #282828;
}

.hyper_shape {
  font-family: Arial, sans-serif;
  position: relative;
  bottom: 2px;
  margin-right: 4px;
  font-size: 16px;
}

.square_shape {
  font-size: 13px;
}

.stream_operator, .filter_operator {
  border-radius: 3px;
  padding: 6px;
  background-color: #CCC;
  margin: 3px;
  float: left;
  font-size: 15px;

}

.stream_operator {
  padding: 10px 6px 13px;
}

.dynamic#postcontent {
  clear:both;
}

/*post styling*/
.post {
        margin: 5px;
        color:black;
        font-size: 12px;
        padding: 5px;
        float: left;
	width: 44%;
-moz-box-shadow: 0px 0px 6px #CCC;
-webkit-box-shadow: 0px 0px 6px #CCC;
box-shadow: 0px 0px 6px #CCC;
    border-radius: 4px;
}

.live_message, .live_message.action, .live_message.archive, .live_message.complete {
-moz-box-shadow: 0px 0px 6px #F85A73;
-webkit-box-shadow: 0px 0px 6px #F85A73;
box-shadow: 0px 0px 6px #F85A73;
}

.action {
-moz-box-shadow: 0px 0px 6px #CCC;
-webkit-box-shadow: 0px 0px 6px #CCC;
box-shadow: 0px 0px 6px #CCC;
}

.archive {
background-color: #EEEEEE;
-moz-box-shadow: 0px 0px 6px #CCC;
-webkit-box-shadow: 0px 0px 6px #CCC;
box-shadow: 0px 0px 6px #CCC;
}

.complete {
-moz-box-shadow: 0px 0px 6px #2CA200;
-webkit-box-shadow: 0px 0px 6px #2CA200;
box-shadow: 0px 0px 6px #2CA200;
}

.post_operators {
    float: right;
    display: block;
    height: 0px;
}

.post_foot {
    color: #BDBDBD;
    margin-bottom: 0px;
    margin-top: 10px;
}
.posts_new_dynamic {
    background-color: #BDBDBD;
}
.post_activator {
    background-color: #BDBDBD;
    color: #282828;
    font-size: 15px;
    padding: 4px 2px;
    float: left;
    margin-right: 8px;
}

.post img {
	margin-right: 4px;
}

.post_body_content a {
max-width: 90%;
overflow: hidden;
display: block;
}

.activated_post_container {
/*    background-color: #7FED56;*/
    

}
.activated_post {
    padding: 6px;
}
.message_body {
    font-size: 12px;
}

.content_post_record {
  font-size: 8px;
  color: #282828;
  display:none;
}

.private_activated_post {
/*    background-image: url(/images/bg_red_fade_vert.png);
    background-position: top;
    background-repeat: repeat-x;*/
}

#post_content {
    width: 97%; line-height: 1;
    
}

.privacy_ops_container {
width: 94%;
padding: 5px;

-moz-box-shadow: 0px 0px 6px #CCC;
-webkit-box-shadow: 0px 0px 6px #CCC;
box-shadow: 0px 0px 6px #CCC;
    border-radius: 4px;
}

.personal_privacy {
  background-color: #2CA200;
  color: #FFFFFF;
}

.private_privacy {
  background-color: #d1ffc0;
  color: #282828;
}

.open_privacy {
  background-color: #FFF;
  color: #282828;
}


.privacy_ops_indicator {
font-size: larger;
}

.private_true {
    margin-left: 4px;
}

.comments_placeholder {
    border-top: #F40026 solid 1px;
    color: #F40026;
}
.comments_frame {
/*    padding: 10px;*/
    background-image: url(/images/bg_grey_fade_vert.png);
    background-position: top;
    background-repeat: repeat-x;    
}
.comments_content_container {
    
}

.comment_text {
  float:left;
  padding:0;
  margin:0;
}

.comment {
  font-size: 11px;
  padding: 5px;
}

.comment_new {
  color: #B0001C;
}
.comment_read {
  color: #282828;
}
.deleted_comment {
    width: 5px;
    height: 5px;
    background-color: #585858;
}

.comment_body {
  display: inline;
}
#comment_body {
    width: 90%; line-height: 1;
}

.comments_form_container {
    padding: 5px;
}
.comment_indentor {
    background-color:#BDBDBD;
    width: 20px;
    height: 3px;
}
.comment_indentor_new {
    background-color: #F40026;
    width: 10px;
    height: 3px;
}

/*bead dot styling within post*/
.beads_slot {

}
.beader {
    float: left;
    width: 120px;
    height: 110px;
    padding: 4px;
}
/*interest browser styling*/
.bead_point {
  border: 1px solid #FFF;
  padding: 3px;
  padding-left:10px;
  overflow: hidden;
  z-index: 1;
}

.bead_chain {
  clear:both;
}
.bead_chain_terminator {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.extender_header {
    float:left;
    color: #BDBDBD;
    padding: 0px 3px;

}
.extender_stripe {
    width:100%;
    padding: 4px 0px;
}
.extender_line {
/*    width: 100%;*/
    overflow:hidden;
    height: 2px;
/*    margin-left: 30px;*/
    background-color: #F2F2F2;
    position: relative;
    top:4px;
}

.bead_point_container {
  clear: both;
  overflow: visible;
  z-index: 2;
/*  border-left: */
  /*padding-left: 10px*/
}

.bead_group {
  clear: both;
  padding-left: 10px;

}

.bead_live {
  /*border-left: #F83251 2px solid;*/
}

.beadpoint_operators {
  height: 100%;
  padding: 3px;
}

.interest_redirector {
  float:left;
}

.bead_spot {
    color: #011d62;
/*    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;*/
    line-height: 4px;
}

.preview_slot {
    padding: 2px 3px 4px;
    border-radius: 3px;
/*    width:100%;*/
}
.space_filler {
    height:100%;
/*    width:100px;*/
    background-color: #ffffff;
    color: #ffffff;
    min-width: 10px;
/*    float: left;*/
}

.main_operators {
    float: right;
    font-size: 12px;
}
.user_trusts {
	margin-bottom: 15px;
}
.trust {
    float:left;
    margin-left: 3px;
    height: 20px;
    vertical-align: bottom;
}
.trust span {
    vertical-align: bottom;
    clear: both;
}

.trust.confirmed {
    background-color: #d1ffc0;
}
.trust.unconfirmed {
    background-color: #F2F2F2;
}

.mind_selection {
padding: 3px;
margin-top: 3px;
float: left;
margin-right: 3px;
}
.mind_unselected {
background-color: #CCC;
}
.mind_selected {
background-color: #d1ffc0;
}

.dynamic#buffer {
    background-color: #011d62;
    padding: 5px;
    text-align: center;
}
.dynamic#buffer a {
    background-color: #011d62;
    color: white;
}
#dynamic_beads {
    margin-bottom: 20px;
    background-color: #b0f097;
    padding: 3px;
}
.dynamic#recalls {
    background-color: #F2F2F2;
}

#notice {
  color: #F40026;
}
#flash_notice {
    color: #F40026;
}
#flash_alert {
    color: #F40026;
}
.field_with_errors {
  padding: 2px;
  background-color: #F83251;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #F83251;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*form styling*/

input, select, textarea {
  border: 2px solid #BDBDBD;
  background-color: #FFF;
  padding: 5px;
}

input#user_submit {
  font-size: 120%;
}


/*authentications styles*/


.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #d7d7d7;
/*  border: solid 1px #999;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: -12px;
  color: #333;
  padding: 1px 2px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #F83251;
  border-radius: 3px;
}

.authentication img {
  float: left;
  margin-right: 12px;
  border: none;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
  border: none;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;

}
.no_top {
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
}

.clean_from_top {
    clear: both;
    padding-top: 5px;
    margin-bottom: 10px;
}
#affiliatememories {
/*    background-image: url(/images/users_list.png);
    background-repeat: none; */
    width: 20px;
    height: 20px;
    padding: 2px;
}
#mindsearch {
  width: 90%;
  margin-left: 10px;
}

.interest_tab {
    vertical-align: middle;
    float:left;
    height:17px;
    padding: 3px;
    border-right: #BBB 1px solid;
    font-size: 14px;

}
.interest_tab a {
font-size: 14px;
}
.current_tab {
    border-top: #BBB 1px solid;
    background-color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    height: 22px;

}

.previous_tab {
    background-color: #282828;
    border-bottom: #BBB 1px solid;
    color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
/*-moz-box-shadow: 3px 3px 4px #CCC;
-webkit-box-shadow: 3px 3px 4px #CCC;
box-shadow: 3px 3px 4px #CCC;*/
}

.previous_tab a {
    color: #EEE;
}

.interest_tab_title {
    padding:5px;
    font-size:12px;
}

.interest_tab_terminator {
    border-bottom: #BBB 1px solid;
    width: 100%;
}

.current_tab .tab_closeout {
  position: relative;
  top: -3px;
}
.previous_tab .tab_closeout {
  position: relative;
  top: 3px;
  display:none;
}
.leftslot {
/*  background-color: #d1ffc0;
  padding: 5px;
*/}
.welcome {
  padding: 5px;
}
