td {
    border-left: lightgrey 1px dotted;
    padding-left: 13px;
    padding-right: 13px;
    vertical-align: top;
}
td.leftside {
    text-align: right;
    width: 30%;
}
td.middle {
    text-align: left;
    width: 40%;
}

td.rightside {
    text-align: left;
    width: 30%;
}
body, ol, ul {
  font-family: arial, helvetica, sans-serif;
  background-color: white;
}
p {
  font-size: 11px;
}
p.footer {
    margin-left: 30%;
}

h1, h2, h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
}
h3 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 2px;
}
h2 {
  
  color: dimgray ;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 22px
}
h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 44px;
  color: crimson;
}
div {
  padding-bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
}
div.field, div.actions {
  margin-bottom: 5px;
}

div#paramsinspect {
  color: blue;
}
.rightside h2 {
    font-size: 22px;
}
.leftside i h2 {
    color: darkred;
    font-size: 32px;
    margin-top: 4px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #011d62  ; text-decoration: none; }
a:visited {  }
a:hover { color: #fff; background-color:red; text-decoration: none }

/*post styling*/
.post {
        margin-top: 0px;
        margin-bottom: 3px;
        color:black;
        font-size: 11px;
        border-bottom: lightgray 1px groove;
}
.post_foot {
    color: lightslategray;
    margin-bottom: 0px;
    margin-top: 10px;
}
.posts_new_dynamic {
    background-color: aliceblue;
}
.dynamic#buffer {
    background-color: #011d62;
    padding: 5px;
    text-align: center;
}
.dynamic#buffer a {
    background-color: #011d62;
    color: white;
}

div.comment {
  font-size: 10px;
  color:indigo;
  width:500px;
  border-bottom: black 1px dotted;
}

div.comment#p {
  font-size: 10px;
  color:black;
  width:500px;
  border-bottom: black 1px dotted;
}
#notice {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
