<% if @user == current_user then %>
<br /><br />
<h2>< You.</h2>
<% else %>

<%= render :partial => @user %>
<br />
<h2>List of <%= @user.username %>'s interests:</h2>
  <%= render :partial => @user.interests %>
<% end %>
<% content_for :leftside do %>
<%= render :partial => current_user %>
<% end %>