<div class = "bead_point<%= (@user_parent_beads_array.include?(bead.id))? ' bead_live' : '' %>" data-id = "<%= bead.id %>" >
  <span class="bead_title"><%= link_to_unless_current bead.title, bead %> (<%= bead.beads_posts.size %>)</span>
  <%# h(bead.description) %>
</div>
