<div class="comments_form_container">

<%= form_for([commentable, commentable.comments.build], :remote => true) do |f| %>
  <%= f.text_area(:body, :cols => 25, :rows => 2) %>
  <%= character_count('comment_body', Comment::MAX_BODY_LENGTH, Comment::MAX_BODY_LENGTH - 20) %>
<% end %>
</div>
