<div class='hyper_switch interest_browser_switch' title='display the interest browser'><span class='hyper_shape content_collapsed'>▸</span><span class='hyper_shape content_expanded' style="display:none">▾</span>Browse interests</div>
