<div class='hyper_switch more_switch' title='display the other options and catgories'><span class='hyper_shape content_collapsed'>▸</span><span class='hyper_shape content_expanded' style="display:none">▾</span>More</div>
