<%= content_tag :div do %>
<h2>What is Wakinga?</h2>
<p>
Concept based communication platform. Allows user to build or adopt interests from common concepts. Target and receive communication related to concepts that are relevant to your interests.
</p>
<h2>Who is user of Wakinga?</h2>
<p>
Person who wants/needs to communicate with others on common concepts online.
</p>
<h2>How is Wakinga different? </h2>
<p>
How is it different from IRC, twitter, IM, email, blogs, social networks? All content created through these platforms is targetted to users or user groups. User is unable to view content without knowing who to follow, where to send email, what group to join, where to sign up. Wakinga solves this problem by having the user create their own interests that are combined from various concepts.
</p>
<p>
  The new content is also then targetted to these custom interests and associated with the underlying concepts. These interests can then be shared, adopted and user can build trusts with others for them to view content in these interests.
</p>
<% end %>