<%= content_tag :div do %>
<h2>What is Wakinga?</h2>
<p>
Concept based communication platform. Allows user to build or adopt interests from common concepts. Target and receive communication related to concepts that are relevant to your interests.
</p>
<p>
Wakinga is based on 'mindbase' platform that I would like to be a modular distributed communication system. Mindbase system operates on associating all communication with common concepts (presently a pick of most common english nouns is available - around 3000).
</p>
<h2>How is Wakinga different? </h2>
<p>
How is it different from IRC, twitter, IM, email, blogs, social networks? All content created through these platforms is targetted to users or user groups. User is unable to view content without knowing who to follow, where to send email, what group to join, where to sign up. Wakinga solves this problem by having the user create their own interests that are combined from various concepts.
</p>
<p>
  The new content is also then targetted to these custom interests and associated with the underlying concepts. These interests can then be shared, adopted and user can build trusts with others for them to view content in these interests.
</p>
<p>Lone founder yet,<br />Peter</p>
<% end %>
