
<br />


<table>

  <tr valign ="top">
    <td class="interestlist"><%= render :partial => current_user.interests %></td>
    <td class="trendlist">
      <h2>top beads overall:</h2>
        <%= render :partial => @topbeads %>
      <h2>recently added: </h2>
      <br />
        <%= render :partial => @recentbeads %>

    </td>
    <td class="profileinfo"><%= render :partial => current_user %></td>
  </tr>
  <tr align ="left" height ="30px" valign ="bottom">
    <td width ="40%">|< add new interest </td><td width ="40%">|< add new bead </td><td width ="20%">|< invite new </td>
  </tr>
</table>

<%# link_to "My Interests", interests_path %> 
<%# link_to "All Content", beads_path %>
<%# Find me in app/views/home/index.html.erb %>
<br />
<p>@copyright 2011 by Pelo Zemina</p>
