<%= div_for interest do %>
<h2>	<%= link_to_unless_current interest.title, interest %> ( # of beads: <%= interest.beads.count %> )( # of posts: <%= "interest.beads.beadfabrics.count" %> )</h2> 
	
<% end %>