	<h3>from <%= link_to(incoming_trust.interest.user.username, user_path(incoming_trust.trustor)) %></h3>

<% incoming_trust.interest.beads.each do |beader| %>
  o <span class="text_emphasizer"><%= beader.title %></span>
<% end %>

<%= (incoming_trust.confirmed?)? 'confirmed' : link_to('confirm?', confirm_trust_path(incoming_trust)) %>
 (<%= link_to 'x', incoming_trust, :confirm => "Are you sure you don't want to trust #{incoming_trust.trustor.username} on this interest? \n\r -confirm", :method => :delete %>)
