var post_identifier = <%=raw @memorization.post.id %>;
$(".post#"+post_identifier).html("<p><img src='/images/loader.gif'/> Marking message...</p>");
$("#interest").after('<div class="flash_dynamic"><%= escape_javascript(flash.delete(:notice)) %></div>');
$.getScript("/posts/" + $('.activated_post').attr('data-id') + "/activate.js");
prepPosts();