var post_identifier = <%=raw @post.id %>;
$(".post#"+post_identifier).html("<p><img src='/images/loader.gif'/> Burning message...</p>");
$("#interest").after('<div class="flash_dynamic"><%= escape_javascript(flash.delete(:notice)) %></div>');
prepPosts();
