$("#new_post").after('<div class="flash_dynamic"><%= escape_javascript(flash.delete(:notice)) %></div>');
$(".dynamic#post_content").html("<%=raw escape_javascript(render(@interest.post_content)) %>");
$(".dynamic#memories").html("<%=raw escape_javascript(render(@interest.memorized_post_content(true))) %>");
$(".post_size").html("<%=raw escape_javascript(pluralize(@interest.post_content.size.to_s + ' new ', 'post')) %>");
$("#new_post")[0].reset();
