<% content_for :leftside do %>
  <%#should be = render :partial => current_user %>
<% end %>
<h2>viewing post</h2>
  <%= render :partial => @post %>


  <p>
          <%= link_to 'Edit', edit_post_path(@post) %> |
          <%= link_to 'Delete', @post, :method => :delete, :confirm => "Confirm." %>
  </p>
  <h2>Comments</h2>
  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>

<%# left side render %>
<% content_for :rightside do %>
  <%# will be trendlines for the current interest %>
<% end %>