<% content_for :leftside do %><div class="activated_post_container"></div><% end %>

<h2><%= @bead.title %>
<span class="main_operators">
<%= link_to 'Edit', edit_bead_path(@bead) %> |
<%= link_to 'Back', beads_path %>
</span>
</h2>

<div>
  <%= render :partial => @bead.posts.limit(50) %>
</div>
<br />
<% content_for :rightside do %>

<% end %>

