<p>Hello <%= @user.username %>!</p>

<p>There new messages in your interests at wakinga.com:</p>
<% @user.interests.each do |i| %>

<% end %>

<p>You can <strong>unsubscribe</strong> from this email.</p>
